/* ESTILOS PARA CONTACTO */
.titulo-contacto{
    display: flex;
    justify-content: center;
    background-color: rgba(172, 255, 47, 0.842);
    margin-top: 1vh;
}


.titulo-pagina-contacto{
    height: 15vh;
    font-size: 10vh;
    font-family: 'Bebas Neue', cursive;
    padding-top: 2vh;
}

.main-contacto{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 50px;
}
.contacto-texto{
    font-size:  30px;
    padding-top: 3%;
    padding-left: 3%;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: aliceblue;
}

.main-contacto-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 12%;
}
.contacto-texto-2{
    font-size:  30px;
    padding-top: 3%;
    padding-left: 3%;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: aliceblue;
    
}

.nombre{
    font-size:  3vh;
    padding-top: 3%;
    padding-left: 3%;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: aliceblue;
}
.apellido{
    font-size:  3vh;
    padding-top: 3%;
    padding-left: 3%;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: aliceblue;
}
.telefono{
    font-size:  3vh;
    padding-top: 3%;
    padding-left: 3%;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: aliceblue;
}
.mail{
    font-size:  3vh;
    padding-top: 3%;
    padding-left: 3%;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: aliceblue;
}

.main-contacto-2 a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(141, 141, 141, 0.418);
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    border: 1px rgba(255, 255, 255, 0.24) solid;
    padding: 4px 4px;
}
@media only screen and (min-width:481px) and (max-width: 525px) {
    /* ESTILOS PARA CONTACTO */
.titulo-contacto{
    display: flex;
    justify-content: center;
    background-color: rgba(172, 255, 47, 0.842);
    margin-top: 1vh;
}


.titulo-pagina-contacto{
    height: 15vh;
    font-size: 10vh;
    font-family: 'Bebas Neue', cursive;
    padding-top: 2vh;
}

.main-contacto{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 50px;
}
.contacto-texto{
    font-size:  30px;
    padding-top: 3%;
    padding-left: 3%;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: aliceblue;
}

.main-contacto-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 12%;
}
.contacto-texto-2{
    font-size:  30px;
    padding-top: 3%;
    padding-left: 3%;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: aliceblue;
    
}

.nombre{
    font-size:  3vh;
    padding-top: 3%;
    padding-left: 3%;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: aliceblue;
}
.apellido{
    font-size:  3vh;
    padding-top: 3%;
    padding-left: 3%;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: aliceblue;
}
.telefono{
    font-size:  3vh;
    padding-top: 3%;
    padding-left: 3%;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: aliceblue;
}
.mail{
    font-size:  3vh;
    padding-top: 3%;
    padding-left: 3%;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: aliceblue;
}

.main-contacto-2 a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(141, 141, 141, 0.418);
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    border: 1px rgba(255, 255, 255, 0.24) solid;
    padding: 4px 4px;
}
}

@media only screen and (min-width:481px) and (max-width: 525px) {
    /* ESTILOS PARA CONTACTO MOBILE*/
.titulo-contacto{
    display: flex;
    justify-content: center;
    background-color: rgba(172, 255, 47, 0.842);
    margin-top: 1vh;
}


.titulo-pagina-contacto{
    height: 15vh;
    font-size: 10vh;
    font-family: 'Bebas Neue', cursive;
    padding-top: 2vh;
}

.main-contacto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.contacto-mapa{
    width: 100%;

}
.contacto-texto{
    font-size:  3vh;
    padding-top: 3%;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    color: aliceblue;
}

.main-contacto-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    
}
.contacto-texto-2{
    font-size:  3vh;
    padding-top: 3%;
    font-family: 'Bebas Neue', cursive;
    color: aliceblue;
    text-align: center;
}

.nombre{
    font-size:  3vh;
    padding-top: 3%;
    font-family: 'Bebas Neue', cursive;
    color: aliceblue;
}
.apellido{
    font-size:  3vh;
    padding-top: 3%;
    font-family: 'Bebas Neue', cursive;
    color: aliceblue;
}
.telefono{
    font-size:  3vh;
    padding-top: 3%;
    font-family: 'Bebas Neue', cursive;
    color: aliceblue;
}
.mail{
    font-size:  3vh;
    padding-top: 3%;
    font-family: 'Bebas Neue', cursive;
    color: aliceblue;
}

.main-contacto-2 a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(141, 141, 141, 0.418);
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    border: 1px rgba(255, 255, 255, 0.24) solid;
    padding: 4px 4px;
}
}