@import '../base/colors';
@import '../base/fonts';
@import '../base/extends';


/* ESTILO PARA EL INDEX*/

.banner-imagen{
    width: 100%;
}

.cabecera{
    background-color: $colorPrincipal;
    position: sticky;
    top: 0px;
}

.nav-link{
    text-decoration: none;
    color: $colorTexto !important;
    font-family: $fontBebas;
    display: inline !important;
}



.presentacion{
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.presentacion iframe{
    width: 100% !important;
}

.texto-presentacion{
    text-align: center;
    align-self: center;
    font-size: 3vh;
    // padding-top: 11%;
    padding-left: 4% ;
    font-family: $fontBebas;
    color: $colorTexto;
}

.titulo{
    display: flex;
    justify-content: center;
    background-color: $colorPrincipal;
}


.titulo-pagina{
    height: 15vh;
    font-size: 10vh;
    font-family: $fontBebas;
    padding-top: 2vh;
}
    

.titulo-2{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    background-color: $colorPrincipal;
}

.titulo-pagina-2{
    height: 15vh;
    font-size: 10vh;
    font-family: $fontBebas;
    padding-top: 1.5vh;
    align-items: center;
}

@media only screen and (min-width:481px) and (max-width: 525px) {
    .titulo-2{
        display: flex;
        justify-content: center;
        margin-top: 10vh;
        background-color: $colorPrincipal;
    }

    .titulo-pagina-2{
        height: 15vh;
        font-size: 9vh;
        font-family: $fontBebas;
    }
}

.noticia-1-imagen{
    width: 40vw; 
}

.noticia-1-texto{
    font-size: 2vh;
    font-family: $fontKanit;
    color: $colorTexto;
    width: 100%;

}

.noticia-1-texto a{
    text-decoration: none;
    color: $colorPrincipal;
    font-family: $fontKanit;
}

.noticia-2-imagen{
    width: 40vw;
}

.noticia-2-texto{
    width: 100%;
    font-size: 2vh;
    font-family: $fontKanit;
    color: $colorTexto;
}

.noticia-2-texto a{
    text-decoration: none;
    color: $colorPrincipal;
    font-family: $fontKanit;
}


.noticia-3-imagen{
    width: 40vw;
}

.noticia-3-texto{
    width: 100%;
    font-size: 2vh;
    font-family: $fontKanit;
    color: $colorTexto;
}

.noticia-3-texto a{
    text-decoration: none;
    color: $colorPrincipal;
    font-family: $fontKanit;
}

.mas-noticias{
    margin: 3vh 0vh 10vh 0vh;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
.mas-noticias-link{
    @extend %botonLink
}

.titulo-3{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    background-color: $colorPrincipal;
}


.titulo-pagina-3{
    height: 15vh;
    font-size: 10vh;
    font-family: $fontBebas;
    padding-top: 1.5vh;
    align-items: center;
}

@media only screen and (min-width:481px) and (max-width: 525px) {
    .titulo-3{
        display: flex;
        justify-content: center;
        margin-top: 10vh;
        background-color: $colorPrincipal;
    }

    .titulo-pagina-3{
        height: 15vh;
        font-size: 9vh;
        font-family: $fontBebas;
    }
}


.proximo-evento{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    
}
.proximo-evento-imagen{
    width: 1000px;
    padding-top: 7%;
}
.proximo-evento-texto{
    text-align: center;
    font-size:  30px;
    padding-top: 11%;
    padding-left: 3%;
    font-family: $fontBebas;
    color: $colorTexto;
}
.proximo-evento-texto a{
    text-decoration: none;
    color: $colorPrincipal;
    font-family: $fontBebas;
}
.proximo-evento-imagen a{
    color: $colorPrincipal;
}
.mas-info{
    margin: 10vh 0vh 10vh 0vh;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    
}
.mas-info-link{
    @extend %botonLink;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    background-color: $colorPrincipal;
    height: 15vh;
    align-items: center;
    
}


.twitter-icon{
    width: 3vw;
}
.twitter-link{
    text-decoration: none;
    color: rgb(41, 34, 34);
    font-family: $fontBebas;
}
.instagram-icon{
    width: 3vw
}
.instagram-link{
    text-decoration: none;
    color: rgb(41, 34, 34);
    font-family: $fontBebas;
}

.footer-logo-container{
    
    margin-left: 5vw;
}
.footer-logo{
    width: 5vw;
}

.footer-logo:hover{
    transform: rotate(360deg) scale(1.5);
    transition: all 1s;
}


.datos-contacto{
    font-family: $fontKanit;
    height: 100%;
}

/* ESTILO PARA LA MOBILE VIEW  */

@media only screen and (min-width:360px) and (max-width: 480px) {
    body{
        background-color: rgb(41, 34, 34);
    }
    
    /* ESTILO PARA EL INDEX MOBILE  */
    
    .banner-imagen{
        width: 100%;
    }
    
    .cabecera{
        background-color: $colorPrincipal;
        position: sticky;
        top: 0px;
        
    }
    
    /* .cabecera__lista{
        height: 10vh;
        
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .cabecera__lista a{
        text-decoration: none;
        color: $colorTexto;
        font-family: $fontBebas;
    }
    
    
    .cabecera__lista__items{
        list-style: none;
        font-size: 20px;
    }
     
    .cabecera__logo{
        width: 40px;   
    } */
    .presentacion{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .iframe-presentacion{
        width: 100%;
    }
    
    .texto-presentacion{
        text-align: center;
        font-size:  20px;
        // padding-top: 11%;
        padding-right: 5%;
        font-family: $fontBebas;
        color: $colorTexto;
    }
    
    .titulo{
        display: flex;
        justify-content: center;
        background-color: $colorPrincipal;
    }
    
    
    .titulo-pagina{
        height: 15vh;
        font-size: 10vh;
        font-family: $fontBebas;
        padding-top: 2vh;
    }

    .titulo-2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4vh;
        margin-top: 10vh;
        background-color: $colorPrincipal;
        height: 15vh;
    }
    
    
    .titulo-pagina-2{
        font-size: 6.5vh;
        font-family: $fontBebas;
        align-items: center;
    }
    
    
    .ultimas-noticias{
        display: flex;
        flex-direction: column;
        padding-left: 16%;
        padding-top: 7%;
        align-items: center;
       
    }
    
    .noticia-1-imagen{
        width: 80%;
        
    }

    .noticia-1-texto{
        width: 100%;
        font-size: 3vh;
        font-family: $fontKanit;
        color: $colorTexto;
        text-align: center;
    }

    .noticia-1-texto a{
        text-decoration: none;
        color: $colorPrincipal;
        font-family: $fontKanit;
    }

    .noticia-2-imagen{
        width: 80%;
    }

    .noticia-2-texto{
        width: 100%;
        font-size: 3vh;
        font-family: $fontKanit;
        color: $colorTexto;
        text-align: center;
    }
    .noticia-2-texto a{
        text-decoration: none;
        color: $colorPrincipal;
        font-family: $fontKanit;
    }
    
    .noticia-3-imagen{
        width: 80%;
    }

    .noticia-3-texto{
        width: 100%;
        font-size: 3vh;
        font-family: $fontKanit;
        color: $colorTexto;
        text-align: center;
    }

    .noticia-3-texto a{
        text-decoration: none;
        color: $colorPrincipal;
        font-family: $fontKanit;
    }
    
    .mas-noticias{
        margin: 3vh 0vh 10vh 0vh;
        justify-content: center;
        text-align: center;
        font-size: 25px;
    }
    .mas-noticias-link{
        text-decoration: none;
        color: $colorPrincipal;
        font-family: $fontBebas;
        border: 2px white solid;
        padding: 4px 4px;
    }
    .titulo-3{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4vh;
        margin-top: 10vh;
        background-color: $colorPrincipal;
        height: 15vh;
    }
    
    
    .titulo-pagina-3{
        font-size: 6.5vh;
        font-family: $fontBebas;
        align-items: center;
    }
    
    .proximo-evento{
        display: flex;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        
    }
    .proximo-evento-imagen{
        width: 100%;
        padding-top: 7%;
    }
    .proximo-evento-texto{
        text-align: center;
        font-size:  30px;
        padding-top: 11%;
        
        font-family: $fontBebas;
        color: $colorTexto;
    }
    .proximo-evento-texto a{
        text-decoration: none;
        color: $colorPrincipal;
        font-family: $fontBebas;
    }
    .proximo-evento-imagen a{
        color: $colorPrincipal;
    }
    .mas-info{
        margin: 10vh 0vh 10vh 0vh;
        justify-content: center;
        text-align: center;
        font-size: 25px;
    }
    .mas-info-link{
        text-decoration: none;
        color: $colorPrincipal;
        font-family: $fontBebas;
        border: 2px white solid;
        padding: 4px 4px;
    }
    
    .footer-container{
        display: flex;
        justify-content: space-between;
        background-color: $colorPrincipal;
        height: 10vh;
        align-items: center;
    }
    
    
    .twitter-icon{
        width: 10px;
    }
    .twitter-link{
        text-decoration: none;
        color: rgb(41, 34, 34);
        font-family: $fontBebas;
    }
    .instagram-icon{
        width: 10px
    }
    .instagram-link{
        text-decoration: none;
        color: rgb(41, 34, 34);
        font-family: $fontBebas;
    }
    .footer-logo{
        width: 40px
    }
    .datos-contacto{
        font-family: $fontKanit;
        font-size: 10px;
    }
}