@mixin latido($vacio){
    /* animación placeholder*/
    transform: $vacio;
    transition: $vacio;
}



.footer-logo2:hover{
    @include latido(scale(1.5));
    opacity: 0;
}

.footer-logo2:hover{
    @include latido(all 1s);
}


.navbar-brand2:hover{
    @include latido(scale(1.5));
    opacity: 0;
}

.navbar-brand2:hover{
    @include latido(all 1s);
}

